doctype html
html
  head
    title= 'My web app - UNDER CONSTRUCTION'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - My App
    br
    a(href='/features') Planned Features
    br
    a(href='/sitepurpose') What will the site do and for who

    block content
